<section class="success">
  <div class="fake-error">
    <div class="hallozeen">Hallozeen</div>
    <img class="bottle-tonic-skull" src="/assets/svg/bottle-tonic.svg" />
  </div>

  <div class="login pact-texts">Login</div>
  <div class="completed pact-texts">completed.</div>
  <div class="syncing pact-texts">syncing</div>
  <div class="your-soul pact-texts">your soul</div>
  <div class="fragments pact-texts">fragments...</div>
  
  <button class="cta" (click)="onNavigateToProducts()">
    TRICK OR TREAT YOURSELF
  </button>
</section>