<section class="home">
  <!-- только текст, по центру сверху -->

  <div class="fake-error" role="status" aria-live="polite">
    <span class="msg">Hallozeen</span>
    <img class="fe-icon" src="/assets/svg/bottle-tonic.svg" alt="" aria-hidden="true" />
  </div>

  <!-- холст с абсолютным позиционированием как в фигме -->
  <div class="title">
    <div class="will-you">WILL YOU</div>
    <div class="step-inside hover-trigger">STEP INSIDE...</div>
    <div class="before">BEFORE</div>
    <div class="the-blood hover-trigger">THE BLOOD</div>
    <div class="runs-dry">RUNS DRY?</div>
  </div>

  <!-- CTA у нижнего края -->
  <div class="cta">
    <button class="enter-btn" type="button" (click)="enterAbyssPressed()">ENTER THE ABYSS</button>
  </div>

  <div class="hover-overlay" aria-hidden="true">
    <img class="eyes" src="/assets/svg/eyes.svg" alt="" />
  </div>
</section>

@if (isEntered) {
<div class="web-pop-up">
  <img class="spider-web" src="assets/svg/web-pop-up.svg" />
  <div class="spider">
    <a href="#">
      <img class="spider-close" src="assets/svg/spider.svg" />
      <img class="close" src="assets/svg/close.svg" (click)="onPopupClose()" />
    </a>
  </div>
  <div class="ad">
    <a href="ad">
      <img src="assets/svg/ad.svg" (click)="onAdClick()" />
    </a>
  </div>
</div>
}
