<section class="success">
  <div
  class="registration-success"
  style="
    background: url(registration-success.png) center;
    background-size: cover;
    background-repeat: no-repeat;
  "
>
  <div class="fake-error">
    <div class="hallozeen">Hallozeen</div>
    <img class="bottle-tonic-skull" src="/assets/svg/bottle-tonic.svg" />
  </div>

  <div class="the-pact pact-texts">The pact</div>
  <div class="is-sealed pact-texts">is sealed!</div>
  <div class="your-name-is pact-texts">Your name is</div>
  <div class="now-written-in pact-texts">now written in</div>
  <div class="the-book pact-texts">the Book</div>
  <div class="of-shadows pact-texts">of Shadows.</div>
  <button class="cta" (click)="onNavigateToLogin()">
    UNSEAL THE GATE
  </button>
</div>


</section>